extends layout

block content
    div(id="login")
        form(id="login-form" class="frosted-panel")
            h2 #{loc.LOGIN}
            input(type="email" required id="email" placeholder=loc.EMAIL)
            input(type="password" required id="password" placeholder=loc.PASSWORD)
            input(type="submit" value=loc.LOGIN)
            div(class="seperator")
                a(href="/register") #{loc.REGISTER}