extends layout

block content
    div(id="register")
        form(id="login-form" class="frosted-panel")
            h2 #{loc.REGISTER}
            input(type="email" required id="email" placeholder=loc.REGISTER)
            input(type="password" required id="password" placeholder=loc.PASSWORD)
            input(type="password" required id="confirm-password" placeholder=loc.CONFIRM_PASSWORD)
            input(type="submit" value=loc.REGISTER)
            div(class="seperator")
                a(href="/login") #{loc.LOGIN}